body{
	background-color: rgb(250,250,250);	
	width: 100%;
}
#logo{
	height: 125px;
	width: 125px;
	border: 2px solid;
	border-radius: 80px;
}
.row{
	padding-top: 100px;
	padding-left: 100px;
	width: 100%;
}
h4{
	text-decoration: underline;
}